.reel h1{
    margin-bottom: 20px;
}
.reel{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 70px;
}
.reel p{
    margin: 0;
    margin-bottom: 20px;
}
.reel img{
    height: auto;
    width: 100% !important;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.video{
    display: none;
}
.reel iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 100px;
}
.about img{
    margin-top: 20px;
    height: 300px;
    width: 100%;
    object-fit: cover;
    
    object-position: center;
    border-radius: 10px;
}
.zitat{
    margin-top: 100px;
    margin-left: 40px !important;
    margin-right: 40px !important;
    text-align: center;
    margin-bottom: 0;
}
.zitat p{
    margin: 0;
    font-size: 1.5em;
}

.about h3{
    margin-top: 15px;
}
.about a{
    text-decoration: underline;
}
.photographyport{
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
}
.row{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 5px;
}
.photographyport img{
    height: auto;
    width: 100%;
    transition: .3s;
}
.photographyport h1{
    position: absolute;
    font-weight: 600;
    top: 20px;
    left: 20px;
    transition: .3s;
}
.photographyport:hover h1{
    font-style: italic;
}
.photographyport:hover img{
    filter: grayscale(100%);
}
.work{
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}
.button{
    text-decoration: underline;
    font-style: italic;
    color: black;
    margin-top: 10px;
    font-size: 2em;
    font-weight: 600;
    transition-duration: .3s;
    margin-right: auto;
}
.button:hover{
    rotate: -7deg;
}

.photographyport .button{
    margin-top: 15px;
}
.work img{
    object-fit: cover;
    width: 100%;
    height: 191.25px;
    transition: .3s;
    margin-left: auto;
    margin-right: auto;
}
.latestwork{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.work p{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
.contact{
    margin-top: 40px;
    margin-bottom: 30px;
}
.contact p{
    font-size: 1.5em;
}
.latestworkimg{
    position: relative;
}
.latestworkimg p{
    opacity: 0;
    margin: 0;
    position: absolute;
    bottom: 35px;
    right: 50px;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2em !important;
    transition: .3s;
}
.latestworkimg h1{
    margin: 0;
    position: absolute;
    top: 65%;
    left: 37%;
    transform: translate(-50%, -50%);
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 600;
    color: white;
    font-size: 2em !important;
    transition: .3s;
    text-shadow: 0px 0px 15px #000000;
}