.photos img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px;
}
.photos{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.title{
    margin-left: 20px;
    margin-bottom: 20px;
}
.instalink p{
    text-align: center;
    font-size: 2em;
    margin-bottom: 100px;
}
.instalink a{
    text-decoration: underline;
}
.instalink a:hover{
    color: rgb(107, 107, 107);
}
@media only screen and (min-width: 600px){
    .photos img{
        width: 100%;
    }
    .photos{
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media only screen and (min-width: 800px){
    .photos img{
        width: 47.5%;
    }
    .photos{
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (min-width: 900px){
    .photos img{
        width: 31%;
    }
    .photos{
        margin-left: 0;
        margin-right: 0;
    }
    .title{
        margin-left: 15px;
    }
    #bigpic{
        width: 97%;
    }
    #semibigpic{
        width: 47.5%;
    }
}
@media only screen and (min-width: 1200px){
    
}