@media only screen and (min-width: 500px) {
    body{
        margin-left: 40px;
        margin-right: 40px;
    }
    .reel h1 {
        display: block;
    }
    .top{
        margin-top: 50px;
        justify-content: space-between;
    }
    .top .menu{
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
    }
    .top .menu a{
        margin-right: 15px;
        font-size: 1.5em;
        text-decoration: underline;
    }
    .work{
        margin-bottom: 100px;
    }
    #poster{
        display: none;
    }
    #cover{
        display: block;
    }
    .button{
        font-size: 1.6em;
    }
    .photographyport {
        display: none;
    }
}

@media only screen and (min-width: 780px) {
    .main {
        margin-left: auto;
        margin-right: auto;
    }

    .work p {
        font-size: 1.5em;
        line-height: 30px;
    }
    .work img{
        height: auto;
    }
    .reel {
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        max-width: 800px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        min-width: none;
    }

    .video {
        display: block;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0;
        height: 0;
        overflow: hidden;
    }

    .reel iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .reel img {
        display: none;
    }

    .reel .button {
        display: none;
    }
    .photographyport {
        display: none;
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        padding: 0;
    }
 
    .about {
        max-width: 800px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .infoandimg {
        display: flex;
    }

    .portrait {
        max-width: 400px;
    }

    .about p {
        margin: 0;
        margin-top: 10px;
    }

    .about p:first-of-type {
        margin: 0;
        margin-top: 40px;
    }

    .zitat {
        margin-top: 20px;
    }

    .zitat h3 {
        margin-top: 15px;
    }

    .bottom {
        text-align: center;
        border-width: 2.5px;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-right: 40px;
    }

    .bottomwidth {
        display: flex;
        justify-content: space-between;
    }

    .rechtliches {
        display: flex;
        flex-direction: row;
    }

    .rechtliches p {
        margin: 0;
        margin-left: 40px;
    }

    .socials {
        margin-bottom: 0;
    }

    .bottom img {
        height: 25px;
        margin-right: 10px;
    }
    .info {
        display: flex;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .about img {
        width: 100%;
        margin-right: 20px;
        margin-top: 0;
    }

    .about p:first-of-type {
        margin: 0;
    }

    .imprint {
        margin-bottom: 500px;
    }

    .contact {
        margin-bottom: 50px;
    }

    .works .project {
        position: relative;
        text-align: center;
        margin: 0;
    }

    .latestwork:hover img{
        filter: grayscale(100%) brightness(.4);
    }
    .latestworkimg:hover p{
        opacity: 1;
        right: 35px;
    }
    .latestworkimg h2{
        font-size: 1.8em !important;
    }
    .latestworkimg h1{
        font-size: 3em !important;
    }
    .latestworktext{
        bottom: 200px;
        left: 200px;
    }
}
