@media only screen and (min-width: 500px){
    .main{
        margin-left: 60px;
        margin-right: 60px;
    }
}
@media only screen and (min-width: 780px){
    .main{
        margin-left: auto;
        margin-right: auto;
    }
    .work{
        width: 320px;
        margin: 0;
    }
    .work p{
        font-size: 1.5em;
        line-height: 30px;
    }
    .reel{
        justify-content: center;
        flex-direction: column;
        margin-top: 70px;
        max-width: 800px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        min-width: none;
    }
    .video{
        display: block;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 0;
        height: 0;
        overflow: hidden;
    }
    .reel iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .reel img{
        display: none;
    }
    .reel .button{
        display: none;
    }
    .button:hover{
        background-color: black;
        color: white;
    }
    .photographyport{
        background-color: white;
        width: 320px;
        padding: 0;
    }
    .about{
        max-width: 800px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .infoandimg{
        display: flex;
    }
    .portrait{
        max-width: 400px;
    }
    .about p{
        margin: 0;
        margin-top: 10px;
    }
    .about p:first-of-type{
        margin: 0;
        margin-top: 40px;
    }
    .zitat{
        margin-top: 20px;
    }
    .zitat h3{
        margin-top: 15px;
    }
    .bottom{
        text-align: center;
        border-width: 2.5px;
        margin-top: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-right: 40px;
    }
    .bottomwidth{
        display: flex;
        justify-content: space-between;
    }
    .rechtliches{
        display: flex;
        flex-direction: row;
    }
    .rechtliches p{
        margin: 0;
        margin-left: 40px;
    }
    .socials{
        margin-bottom: 0;
    }
    .bottom img{
        height: 25px;
        margin-right: 10px;
    }
    .workandphoto{
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    .info{
        display: flex;
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .about img{
        width: 200px;
        margin-right: 20px;
        margin-top: 0;
    }
    .about p:first-of-type{
        margin: 0;
    }
    .imprint{
        margin-bottom: 500px;
    }
    .latestwork div{
        height: 185px;
    }
    .contact{
        margin-bottom: 50px;
    }
    .work img{
        top: -15%;
    }
}
